.footer{

background:#06080F;

padding:90px 0 35px;

position:relative;

border-top:1px solid rgba(255,255,255,.06);

}

.footer-top{

display:flex;

justify-content:space-between;

gap:70px;

padding-bottom:60px;

border-bottom:1px solid rgba(255,255,255,.06);

}

.footer-brand{

display:flex;

align-items:flex-start;

gap:18px;

max-width:360px;

}

.footer-logo{

width:58px;

height:58px;

border-radius:16px;

display:flex;

align-items:center;

justify-content:center;

background:linear-gradient(
135deg,
#2563eb,
#4F46E5
);

font-weight:700;

font-size:22px;

color:white;

}

.footer-brand h2{

color:white;

margin-bottom:10px;

}

.footer-brand p{

color:#94A3B8;

line-height:1.7;

}

.footer-links{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:60px;

}

.footer-links h4{

color:white;

margin-bottom:18px;

}

.footer-links a{

display:block;

margin-bottom:14px;

color:#94A3B8;

text-decoration:none;

transition:.3s;

}

.footer-links a:hover{

color:white;

padding-left:5px;

}

.footer-bottom{

display:flex;

justify-content:space-between;

align-items:center;

padding-top:30px;

}

.footer-bottom p{

color:#94A3B8;

}

.social-icons{

display:flex;

gap:16px;

}

.social-icons a{

width:46px;

height:46px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:rgba(255,255,255,.05);

color:white;

transition:.3s;

}

.social-icons a:hover{

background:#2563eb;

transform:translateY(-4px);

}

.scroll-top{

position:absolute;

right:40px;

top:-25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

cursor:pointer;

background:linear-gradient(
135deg,
#2563eb,
#4F46E5
);

display:flex;

align-items:center;

justify-content:center;

color:white;

box-shadow:0 15px 35px rgba(108,99,255,.35);

transition:.3s;

}

.scroll-top:hover{

transform:translateY(-5px);

}

@media(max-width:992px){

.footer-top{

flex-direction:column;

}

.footer-links{

grid-template-columns:1fr;

gap:35px;

}

.footer-bottom{

flex-direction:column;

gap:20px;

text-align:center;

}

.scroll-top{

right:20px;

}

}