@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:'Inter',sans-serif;

overflow-x:hidden;

}

a{

text-decoration:none;

color:inherit;

}

button{

font-family:inherit;

cursor:pointer;

border:none;

outline:none;

}

img{

width:100%;

display:block;

}

ul{

list-style:none;

}

.container{

width:min(1200px,92%);

margin:auto;

}

.section{

padding:110px 0;

}