.top-navbar{

height:72px;

background:#060B18;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

position:sticky;

top:0;

z-index:900;

border-bottom:1px solid rgba(255,255,255,.05);

}

.navbar-left{

display:flex;

align-items:center;

gap:20px;

}

.menu-btn{

background:none;

border:none;

color:white;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.menu-btn:hover{

transform:rotate(90deg);

}

.brand{

color:white;

font-size:28px;

}

.brand span{

color:#00D9FF;

}

.avatar{

width:42px;

height:42px;

border-radius:50%;

background:linear-gradient(135deg,#00D9FF,#2F80ED);

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

color:white;

cursor:pointer;

}